.indie {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

.centerMe {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
}
body, button{
  background-color: aqua;
}
#quote-box {
background-color:white;
color:aqua;
}
button{
  color: white ;
}
